<p>Current Applications</p>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Company Name</th>
    <th>Position Title</th>
    <th>Application Status</th>
    <th>Time Applied</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody >
    @for (application of applications; track application.id) {
      <tr>
<td>{{application.id}}</td>
        <td>{{ application.companyName }}</td>
        <td>{{ application.position }}</td>
        <td>{{ application.status }}</td>
        <td>{{ application.timeApplied }}</td>
        <td><button (click)="deleteApplication(application.id)">🗑</button>️</td>
        <td><button (click)="editApplication(application)">✏️</button></td>
      </tr>
    }
  </tbody>
</table>
